*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {    
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 500px;
    margin: 0 auto;
    padding: 0.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:15px 10%;
    background-color:#4caf50;
    margin-bottom: 40px;
}
.logo{
    cursor:pointer;
    color:rgb(255, 255, 255);
    /* background-color:#4caf50; */
    font-weight: bold;
}
.navlink{
    list-style:none;
    display:flex;
}
.navlink li{
    padding:0 20px;
    font-size:15px;
    /* background-color: #4caf50; */
}
.navlink li a{
    color:white;
    /* background-color: #4caf50; */
    text-decoration:none;
}
.navlink li a:hover{
    color:#3be341;
}


main {
    flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


form{
    width:100%;
    display:flex;
    flex-wrap: wrap;
}


.ctn{
    height:50%;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    
}
input[type="radio"]{
    display:none;
}
.ctn label{
    width:90%;
    font-size:24px;
    padding:10px 60px;
    border-radius:5px;
    border:2px solid #3be341;
}

input[type="radio"]:checked+label{
    background-color: #4caf50;
    color:white;
}

input,textarea{
    width:400px;
    outline:none;
    font-size:14px;
    padding:0 30px;
    line-height:30px;
    border-radius:5px;
    border:2px solid #4caf50;
    background: transparent;
    margin-top: 5px;
    margin-left: 50px;
}

.ctn1 label{
    font-size: 20px;
    margin-left: 50px;
}
::placeholder{
    color:rgb(158, 158, 158);
}

.upload{
    display:inline-block;
    margin-top:25px;
}

.filebox{
    font-size:16px;
    outline:none;
    height:50px;
}

::-webkit-file-upload-button{
    background-color: #4caf50;
    border:none;
    padding:10px;
    color:white;
    margin-top: 4px;
    cursor:pointer;
}

button{
    margin-left: 50px;
    margin-top:10px;
    padding: 5px 15px 5px 15px;
    border:none;
    background-color: #4caf50;
    color:white;
    border-radius:1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

button:hover{
    cursor:pointer;
    background-color:#3be341;
}

footer {
    width: 100%;
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}



